# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/customers-service/target/
/target/
# Maven
target/
*/target/
**/target/

# Archivos compilados
*.class
